/*! jQuery UI - v1.12.1 - 2016-12-11
* https://jqueryui.com
* Includes: core.css, autocomplete.css, menu.css, theme.css
* To view and modify this theme, visit https://jqueryui.com/themeroller/?scope=&folderName=custom-theme&bgImgOpacityError=95&bgImgOpacityHighlight=95&bgImgOpacityActive=45&bgImgOpacityHover=75&bgImgOpacityDefault=75&bgImgOpacityContent=75&bgImgOpacityHeader=75&cornerRadiusShadow=.5em&offsetLeftShadow=5px&offsetTopShadow=5px&thicknessShadow=5px&opacityShadow=30&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=%23888888&opacityOverlay=30&bgImgOpacityOverlay=0&bgTextureOverlay=flat&bgColorOverlay=%23c0e472&iconColorError=%23e13755&fcError=%23000000&borderColorError=%23e13755&bgTextureError=inset_hard&bgColorError=%23e47286&iconColorHighlight=%2363a4ff&fcHighlight=%23000000&borderColorHighlight=%23f2c100&bgTextureHighlight=inset_hard&bgColorHighlight=%23f5e47b&iconColorActive=%23000000&fcActive=%23000000&borderColorActive=%23a9dc3a&bgTextureActive=glass&bgColorActive=%23C0E472&iconColorHover=%23000000&fcHover=%23000000&borderColorHover=%238bc313&bgTextureHover=glass&bgColorHover=%23c0e472&iconColorDefault=%23000000&fcDefault=%23000000&borderColorDefault=%23f2c100&bgTextureDefault=glass&bgColorDefault=%23f5e47b&iconColorContent=%23000000&fcContent=%23000000&borderColorContent=%23aaaaaa&bgTextureContent=flat&bgColorContent=%23ffffff&iconColorHeader=%23000000&fcHeader=%23000000&borderColorHeader=%23f2c100&bgTextureHeader=highlight_soft&bgColorHeader=%23f5e47b&cornerRadius=.5em&fwDefault=bold&fsDefault=1.1em&ffDefault=Verdana%2CArial%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: opacity(0); }

.ui-front {
  z-index: 100; }

.ui-state-disabled {
  cursor: default !important;
  pointer-events: none; }

.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block; }

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default; }

.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0; }

.ui-menu .ui-menu {
  position: absolute; }

.ui-menu .ui-menu-item {
  margin: 0;
  cursor: pointer;
  list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"); }

.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 3px 1em 3px .4em; }

.ui-menu .ui-menu-divider {
  margin: 5px 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0; }

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
  margin: -1px; }

.ui-menu-icons {
  position: relative; }

.ui-menu-icons .ui-menu-item-wrapper {
  padding-left: 2em; }

.ui-menu .ui-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: .2em;
  margin: auto 0; }

.ui-menu .ui-menu-icon {
  left: auto;
  right: 0; }

.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em; }

.ui-widget .ui-widget {
  font-size: 1em; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em; }

.ui-widget.ui-widget-content {
  border: 1px solid #f2c100; }

.ui-widget-content {
  border: 1px solid #aaa;
  background: #fff;
  color: #000; }

.ui-widget-content a {
  color: #000; }

.ui-widget-header {
  border: 1px solid #f2c100;
  background: #f5e47b url("/css/custom-theme/images/ui-bg_highlight-soft_75_f5e47b_1x100.png") 50% 50% repeat-x;
  color: #000;
  font-weight: bold; }

.ui-widget-header a {
  color: #000; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #f2c100;
  background: #f5e47b url("/css/custom-theme/images/ui-bg_glass_75_f5e47b_1x400.png") 50% 50% repeat-x;
  font-weight: bold;
  color: #000; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
  color: #000;
  text-decoration: none; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  border: 1px solid #8bc313;
  background: #c0e472 url("/css/custom-theme/images/ui-bg_glass_75_c0e472_1x400.png") 50% 50% repeat-x;
  font-weight: bold;
  color: #000; }

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited, a.ui-button:hover, a.ui-button:focus {
  color: #000;
  text-decoration: none; }

.ui-visual-focus {
  box-shadow: 0 0 3px 1px #5e9ed6; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #a9dc3a;
  background: #C0E472 url("/css/custom-theme/images/ui-bg_glass_45_C0E472_1x400.png") 50% 50% repeat-x;
  font-weight: bold;
  color: #000; }

.ui-icon-background, .ui-state-active .ui-icon-background {
  border: #a9dc3a;
  background-color: #000; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #000;
  text-decoration: none; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #f2c100;
  background: #f5e47b url("/css/custom-theme/images/ui-bg_inset-hard_95_f5e47b_1x100.png") 50% bottom repeat-x;
  color: #000; }

.ui-state-checked {
  border: 1px solid #f2c100;
  background: #f5e47b; }

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #000; }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #e13755;
  background: #e47286 url("/css/custom-theme/images/ui-bg_inset-hard_95_e47286_1x100.png") 50% bottom repeat-x;
  color: #000; }

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #000; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #000; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: opacity(70);
  font-weight: normal; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: opacity(35);
  background-image: none; }

.ui-state-disabled .ui-icon {
  filter: opacity(35); }

.ui-icon {
  width: 16px;
  height: 16px; }

.ui-icon, .ui-widget-content .ui-icon {
  background-image: url("/css/custom-theme/images/ui-icons_000000_256x240.png"); }

.ui-widget-header .ui-icon {
  background-image: url("/css/custom-theme/images/ui-icons_000000_256x240.png"); }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
  background-image: url("/css/custom-theme/images/ui-icons_000000_256x240.png"); }

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-image: url("/css/custom-theme/images/ui-icons_000000_256x240.png"); }

.ui-state-highlight .ui-icon, .ui-button .ui-state-highlight.ui-icon {
  background-image: url("/css/custom-theme/images/ui-icons_63a4ff_256x240.png"); }

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url("/css/custom-theme/images/ui-icons_e13755_256x240.png"); }

.ui-button .ui-icon {
  background-image: url("/css/custom-theme/images/ui-icons_000000_256x240.png"); }

.ui-icon-blank {
  background-position: 16px 16px; }

.ui-icon-caret-1-n {
  background-position: 0 0; }

.ui-icon-caret-1-ne {
  background-position: -16px 0; }

.ui-icon-caret-1-e {
  background-position: -32px 0; }

.ui-icon-caret-1-se {
  background-position: -48px 0; }

.ui-icon-caret-1-s {
  background-position: -65px 0; }

.ui-icon-caret-1-sw {
  background-position: -80px 0; }

.ui-icon-caret-1-w {
  background-position: -96px 0; }

.ui-icon-caret-1-nw {
  background-position: -112px 0; }

.ui-icon-caret-2-n-s {
  background-position: -128px 0; }

.ui-icon-caret-2-e-w {
  background-position: -144px 0; }

.ui-icon-triangle-1-n {
  background-position: 0 -16px; }

.ui-icon-triangle-1-ne {
  background-position: -16px -16px; }

.ui-icon-triangle-1-e {
  background-position: -32px -16px; }

.ui-icon-triangle-1-se {
  background-position: -48px -16px; }

.ui-icon-triangle-1-s {
  background-position: -65px -16px; }

.ui-icon-triangle-1-sw {
  background-position: -80px -16px; }

.ui-icon-triangle-1-w {
  background-position: -96px -16px; }

.ui-icon-triangle-1-nw {
  background-position: -112px -16px; }

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px; }

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px; }

.ui-icon-arrow-1-n {
  background-position: 0 -32px; }

.ui-icon-arrow-1-ne {
  background-position: -16px -32px; }

.ui-icon-arrow-1-e {
  background-position: -32px -32px; }

.ui-icon-arrow-1-se {
  background-position: -48px -32px; }

.ui-icon-arrow-1-s {
  background-position: -65px -32px; }

.ui-icon-arrow-1-sw {
  background-position: -80px -32px; }

.ui-icon-arrow-1-w {
  background-position: -96px -32px; }

.ui-icon-arrow-1-nw {
  background-position: -112px -32px; }

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px; }

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px; }

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px; }

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px; }

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px; }

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px; }

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px; }

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px; }

.ui-icon-arrowthick-1-n {
  background-position: 1px -48px; }

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px; }

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px; }

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px; }

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px; }

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px; }

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px; }

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px; }

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px; }

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px; }

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px; }

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px; }

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px; }

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px; }

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px; }

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px; }

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px; }

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px; }

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px; }

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px; }

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px; }

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px; }

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px; }

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px; }

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px; }

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px; }

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px; }

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px; }

.ui-icon-arrow-4 {
  background-position: 0 -80px; }

.ui-icon-arrow-4-diag {
  background-position: -16px -80px; }

.ui-icon-extlink {
  background-position: -32px -80px; }

.ui-icon-newwin {
  background-position: -48px -80px; }

.ui-icon-refresh {
  background-position: -64px -80px; }

.ui-icon-shuffle {
  background-position: -80px -80px; }

.ui-icon-transfer-e-w {
  background-position: -96px -80px; }

.ui-icon-transferthick-e-w {
  background-position: -112px -80px; }

.ui-icon-folder-collapsed {
  background-position: 0 -96px; }

.ui-icon-folder-open {
  background-position: -16px -96px; }

.ui-icon-document {
  background-position: -32px -96px; }

.ui-icon-document-b {
  background-position: -48px -96px; }

.ui-icon-note {
  background-position: -64px -96px; }

.ui-icon-mail-closed {
  background-position: -80px -96px; }

.ui-icon-mail-open {
  background-position: -96px -96px; }

.ui-icon-suitcase {
  background-position: -112px -96px; }

.ui-icon-comment {
  background-position: -128px -96px; }

.ui-icon-person {
  background-position: -144px -96px; }

.ui-icon-print {
  background-position: -160px -96px; }

.ui-icon-trash {
  background-position: -176px -96px; }

.ui-icon-locked {
  background-position: -192px -96px; }

.ui-icon-unlocked {
  background-position: -208px -96px; }

.ui-icon-bookmark {
  background-position: -224px -96px; }

.ui-icon-tag {
  background-position: -240px -96px; }

.ui-icon-home {
  background-position: 0 -112px; }

.ui-icon-flag {
  background-position: -16px -112px; }

.ui-icon-calendar {
  background-position: -32px -112px; }

.ui-icon-cart {
  background-position: -48px -112px; }

.ui-icon-pencil {
  background-position: -64px -112px; }

.ui-icon-clock {
  background-position: -80px -112px; }

.ui-icon-disk {
  background-position: -96px -112px; }

.ui-icon-calculator {
  background-position: -112px -112px; }

.ui-icon-zoomin {
  background-position: -128px -112px; }

.ui-icon-zoomout {
  background-position: -144px -112px; }

.ui-icon-search {
  background-position: -160px -112px; }

.ui-icon-wrench {
  background-position: -176px -112px; }

.ui-icon-gear {
  background-position: -192px -112px; }

.ui-icon-heart {
  background-position: -208px -112px; }

.ui-icon-star {
  background-position: -224px -112px; }

.ui-icon-link {
  background-position: -240px -112px; }

.ui-icon-cancel {
  background-position: 0 -128px; }

.ui-icon-plus {
  background-position: -16px -128px; }

.ui-icon-plusthick {
  background-position: -32px -128px; }

.ui-icon-minus {
  background-position: -48px -128px; }

.ui-icon-minusthick {
  background-position: -64px -128px; }

.ui-icon-close {
  background-position: -80px -128px; }

.ui-icon-closethick {
  background-position: -96px -128px; }

.ui-icon-key {
  background-position: -112px -128px; }

.ui-icon-lightbulb {
  background-position: -128px -128px; }

.ui-icon-scissors {
  background-position: -144px -128px; }

.ui-icon-clipboard {
  background-position: -160px -128px; }

.ui-icon-copy {
  background-position: -176px -128px; }

.ui-icon-contact {
  background-position: -192px -128px; }

.ui-icon-image {
  background-position: -208px -128px; }

.ui-icon-video {
  background-position: -224px -128px; }

.ui-icon-script {
  background-position: -240px -128px; }

.ui-icon-alert {
  background-position: 0 -144px; }

.ui-icon-info {
  background-position: -16px -144px; }

.ui-icon-notice {
  background-position: -32px -144px; }

.ui-icon-help {
  background-position: -48px -144px; }

.ui-icon-check {
  background-position: -64px -144px; }

.ui-icon-bullet {
  background-position: -80px -144px; }

.ui-icon-radio-on {
  background-position: -96px -144px; }

.ui-icon-radio-off {
  background-position: -112px -144px; }

.ui-icon-pin-w {
  background-position: -128px -144px; }

.ui-icon-pin-s {
  background-position: -144px -144px; }

.ui-icon-play {
  background-position: 0 -160px; }

.ui-icon-pause {
  background-position: -16px -160px; }

.ui-icon-seek-next {
  background-position: -32px -160px; }

.ui-icon-seek-prev {
  background-position: -48px -160px; }

.ui-icon-seek-end {
  background-position: -64px -160px; }

.ui-icon-seek-start {
  background-position: -80px -160px; }

.ui-icon-seek-first {
  background-position: -80px -160px; }

.ui-icon-stop {
  background-position: -96px -160px; }

.ui-icon-eject {
  background-position: -112px -160px; }

.ui-icon-volume-off {
  background-position: -128px -160px; }

.ui-icon-volume-on {
  background-position: -144px -160px; }

.ui-icon-power {
  background-position: 0 -176px; }

.ui-icon-signal-diag {
  background-position: -16px -176px; }

.ui-icon-signal {
  background-position: -32px -176px; }

.ui-icon-battery-0 {
  background-position: -48px -176px; }

.ui-icon-battery-1 {
  background-position: -64px -176px; }

.ui-icon-battery-2 {
  background-position: -80px -176px; }

.ui-icon-battery-3 {
  background-position: -96px -176px; }

.ui-icon-circle-plus {
  background-position: 0 -192px; }

.ui-icon-circle-minus {
  background-position: -16px -192px; }

.ui-icon-circle-close {
  background-position: -32px -192px; }

.ui-icon-circle-triangle-e {
  background-position: -48px -192px; }

.ui-icon-circle-triangle-s {
  background-position: -64px -192px; }

.ui-icon-circle-triangle-w {
  background-position: -80px -192px; }

.ui-icon-circle-triangle-n {
  background-position: -96px -192px; }

.ui-icon-circle-arrow-e {
  background-position: -112px -192px; }

.ui-icon-circle-arrow-s {
  background-position: -128px -192px; }

.ui-icon-circle-arrow-w {
  background-position: -144px -192px; }

.ui-icon-circle-arrow-n {
  background-position: -160px -192px; }

.ui-icon-circle-zoomin {
  background-position: -176px -192px; }

.ui-icon-circle-zoomout {
  background-position: -192px -192px; }

.ui-icon-circle-check {
  background-position: -208px -192px; }

.ui-icon-circlesmall-plus {
  background-position: 0 -208px; }

.ui-icon-circlesmall-minus {
  background-position: -16px -208px; }

.ui-icon-circlesmall-close {
  background-position: -32px -208px; }

.ui-icon-squaresmall-plus {
  background-position: -48px -208px; }

.ui-icon-squaresmall-minus {
  background-position: -64px -208px; }

.ui-icon-squaresmall-close {
  background-position: -80px -208px; }

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px; }

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px; }

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px; }

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px; }

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px; }

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px; }

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: .5em; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: .5em; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: .5em; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: .5em; }

.ui-widget-overlay {
  background: #c0e472;
  opacity: .3;
  filter: opacity(30); }

.ui-widget-shadow {
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888; }

.comment {
  color: #666; }

.string {
  color: #006810; }

.string .source,
.string .meta.embedded.line {
  color: #5A5A5A; }

.string .punctuation.section.embedded {
  color: #920B2D; }

.string .punctuation.section.embedded .source {
  color: #920B2D; }

.constant.numeric {
  color: #D14; }

.constant.language {
  color: #606aa1; }

.constant.character,
.constant.other {
  color: #606aa1; }

.constant.symbol {
  color: #990073; }

.constant.numeric.line-number.find-in-files .match {
  color: rgba(143, 190, 0, 0.63); }

/* For 'rw', 'copy' etc. */
.entity.name.type.trait {
  color: #555CEE; }

.entity.name.type.class {
  color: #363F84; }

.variable.other {
  color: #CC0050; }

.variable {
  color: #08056B; }

.variable.parameter {
  color: #606aa1; }

.keyword {
  color: #222;
  font-weight: bold; }

.keyword.unit {
  color: #445588; }

.keyword.special-method {
  color: #0056C3; }

.storage {
  color: #222; }

.storage.type {
  color: #222; }

.entity.name.class {
  color: #606aa1; }

.entity.other.inherited-class {
  color: #606aa1; }

.entity.name.function {
  color: #900; }

/* Regex/Grammars */
.string.regexp.construct {
  color: #0078FF; }

/* `token`, `regex` */
.storage.type.declare.regexp.named {
  color: #393276; }

/* The name of the named regex */
.entity.name.function.regexp {
  color: #7415E9; }

.entity.name.function.regexp.named.TOP {
  color: #158de9; }

/* /<this>/ */
.variable.other.identifier.regexname {
  color: #a52020; }

.entity.name.tag {
  color: #008080; }

.entity.other.attribute-name {
  color: #458;
  font-weight: bold; }

.entity.name.filename.find-in-files {
  color: #E6DB74; }

.support.constant,
.support.function,
.support.type {
  color: #458; }

.support.class {
  color: #004040; }

.invalid {
  color: #F8F8F0;
  background-color: #00A8C6; }

.invalid.deprecated {
  color: #F8F8F0;
  background-color: #8FBE00; }

.meta.structure.dictionary.json > .string.quoted.double.json,
.meta.structure.dictionary.json > .string.quoted.double.json .punctuation.string {
  color: #000080; }

.meta.structure.dictionary.value.json > .string.quoted.double.json {
  color: #d14; }

.meta.diff,
.meta.diff.header {
  color: #75715E; }

.css.support.property-name {
  font-weight: bold;
  color: #333; }

.css.constant {
  color: #099; }

.source.gfm {
  color: #444; }

.gfm .markup.heading {
  color: #111; }

.gfm .link {
  color: #888; }

.gfm .variable.list {
  color: #888; }

.markdown .paragraph {
  color: #444; }

.markdown .heading {
  color: #111; }

.markdown .link {
  color: #888; }

.markdown .link .string {
  color: #888; }

.storage, .storage.declarator {
  font-weight: bold;
  color: #A626A4; }

/* Some preexisting Atom tags, probably not needed but moving to the end */
atom-text-editor {
  background-color: white;
  color: #555; }

atom-text-editor .invisible-character {
  color: rgba(85, 85, 85, 0.2); }

atom-text-editor .indent-guide {
  color: rgba(85, 85, 85, 0.2); }

atom-text-editor .wrap-guide {
  background-color: rgba(85, 85, 85, 0.2); }

atom-text-editor .gutter {
  color: #555;
  background: white; }

atom-text-editor .gutter .line-number.folded,
atom-text-editor .gutter .line-number:after,
atom-text-editor .fold-marker:after {
  color: #e87b00; }

atom-text-editor .invisible {
  color: #555; }

atom-text-editor .selection .region {
  background-color: #e1e1e1; }

atom-text-editor .bracket-matcher .region {
  background-color: #C9C9C9;
  opacity: .7;
  border-bottom: 0 none; }

atom-text-editor.is-focused .cursor {
  border-color: black; }

atom-text-editor.is-focused .selection .region {
  background-color: #afc4da; }

atom-text-editor.is-focused .line-number.cursor-line-no-selection,
atom-text-editor.is-focused .line.cursor-line {
  background-color: rgba(255, 255, 134, 0.34); }

* {
  /*margin: 0;*/
  padding: 0;
  outline: none;
  box-sizing: border-box; }

html, body {
  margin: 0;
  background: #FFF !important;
  font-family: sans-serif !important; }

html {
  padding: 0;
  width: 100%;
  position: relative;
  min-height: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal; }

body {
  width: auto; }

/* 
START: NAVIGATION BAR
This is mainly for the mobile version.
*/
header {
  background-color: #789e9e;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.63); }

header > div#logo, header > div#search {
  line-height: 70px;
  position: relative; }

header > .menuUp {
  box-shadow: none; }

header > div#logo > h1 {
  color: white;
  font-weight: 300;
  text-transform: lowercase; }

header > div#logo > div#navToggle {
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 0;
  top: 0;
  transition: 300ms all ease; }

header > div#logo > div#navToggle:hover {
  background-color: rgba(0, 0, 0, 0.1); }

header > div#logo > div#navToggle > a {
  color: rgba(255, 255, 255, 0.85);
  display: block;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0 2.5rem;
  text-decoration: none;
  transition: 300ms all ease; }

header > div#logo > div#navToggle:hover > a {
  color: white; }

header > nav {
  background-color: white;
  display: none;
  flex: 1;
  transform: 300ms all ease; }

header nav > ul {
  list-style-type: none; }

header nav > ul > li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  position: relative; }

header nav > ul > li:last-of-type {
  border-bottom: none; }

header nav > ul > li > a {
  display: block;
  color: rgba(0, 0, 0, 0.65);
  padding: 1.5rem 0;
  text-decoration: none;
  transition: 250ms all ease; }

header nav > ul > li > a span.toggle {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3rem;
  color: rgba(0, 0, 0, 0.25);
  font-size: 0.75em;
  font-weight: 500;
  padding: 2px 8px;
  text-transform: lowercase; }

header nav > ul > li > a span.caret {
  display: none; }

header > nav > ul > li > a {
  color: #000; }

header > nav > ul > li > nav {
  background-color: #333333;
  border-radius: 1.5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  display: none;
  overflow: hidden;
  position: absolute;
  right: 5%;
  width: 90%;
  z-index: 100; }

header > nav > ul > li > nav > ul > li > a {
  color: rgba(255, 255, 255, 0.85);
  transition: 300ms all ease; }

header > nav > ul > li > nav > ul > li:hover > a {
  background-color: #789e9e;
  color: white; }

/* Medium screens */
@media all and (min-width: 600px) {
  .menu {
    margin-left: 30px; }
  header > div#logo > div#navToggle {
    display: none; }
  header {
    flex-direction: row;
    line-height: 50px;
    padding: 0 3rem 0 3rem;
    /*position: fixed;*/
    text-align: left;
    width: 100%; }
  header > div#logo {
    background-color: transparent;
    line-height: 50px; }
  header > div#logo > h1 {
    color: #8cc1c1; }
  header > nav {
    background-color: transparent;
    display: block; }
  header > nav > ul {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: flex-end;*/ }
  header nav > ul > li {
    border-bottom: none; }
  header nav > ul > li > a {
    padding: 0 1.25rem; }
  header nav > ul > li > a span.toggle {
    display: none; }
  header nav > ul > li > a span.caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid rgba(0, 0, 0, 0.65);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-radius: 1px;
    content: "";
    display: inline-block;
    height: 0;
    margin: 0 0 0 .25rem;
    transition: 250ms all ease;
    width: 0;
    vertical-align: middle; }
  header nav > ul > li:hover > a span.caret {
    border-top-color: #8cc1c1;
    transform: rotate(270deg); }
  header > nav > ul > li:hover > nav {
    background-color: #333333;
    border-radius: .25em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    display: block;
    line-height: 3em;
    right: -50%;
    width: 196px; } }

/* END: NAVIGATION BAR */
.title {
  margin-top: 0;
  text-align: center; }

.subtitle {
  text-align: center;
  font-style: italic; }

pre {
  background-color: rgba(120, 60, 0, 0.045);
  border: 1px solid #CFCFCF;
  padding: 0.6ex;
  color: black;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all; }

a {
  text-decoration: none;
  color: #b94e49; }
  a code {
    color: #b94e49; }

#content a:hover {
  opacity: 0.6; }

pre a {
  text-decoration: underline;
  color: black; }

pre a:hover {
  text-decoration: none;
  color: inherit; }

#camelia {
  width: 60px;
  height: 60px;
  margin-top: 10px; }

img, svg {
  max-width: 100%; }

svg {
  height: auto; }

table.pod-table {
  display: block;
  overflow-x: auto; }

table.pod-table tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.031373); }

table.pod-table tr:nth-child(even) {
  background-color: transparent; }

td, th {
  padding: 0.4em; }
  td p, th p {
    margin: 0; }

.pretty-box {
  padding: 2em; }

#logo {
  display: inline-block;
  border: none;
  vertical-align: middle; }

#search #not-found-message {
  background: #A00;
  color: white;
  padding: 2px 15px;
  border-radius: 3px;
  position: absolute;
  bottom: -7ex;
  left: 0;
  white-space: nowrap;
  font-size: 80%;
  font-weight: normal;
  display: none; }

#search.not-found #not-found-message {
  display: block; }

#not-found-message a {
  color: white;
  text-decoration: underline;
  font-weight: bold; }

#not-found-message a:hover,
#not-found-message a:active {
  text-decoration: none; }

#search {
  position: relative;
  float: right;
  margin-right: 1.5em;
  margin-bottom: 0.5em;
  width: 75%;
  min-width: 9em;
  max-width: 35em; }

#search.two-row {
  width: 75%;
  margin-top: 10px; }

#search {
  text-align: right; }
  #search label {
    float: left;
    font-size: 1.25em; }
  #search div {
    overflow: hidden; }

#query {
  outline: none;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.5em;
  border-color: #FFF;
  margin: 0;
  padding: 0.25em 0.5em 0.25em 0.5em;
  width: 75%;
  background-color: #FFFFFF;
  color: #444;
  transition: all .2s ease-out; }

#query:focus {
  color: #000000;
  text-align: left;
  width: 75%; }

#query::placeholder {
  text-align: right; }

#query::-moz-placeholder {
  text-align: right; }

#query::-webkit-placeholder {
  text-align: right; }

.ui-autocomplete-category {
  font-weight: bold;
  font-style: italic;
  background-color: #789E9E;
  padding: 2px 5px;
  line-height: 1.5; }

.ui-widget.ui-widget-content {
  border: 1px solid #789e9e; }

.ui-state-active,
.ui-state-focus {
  background-color: red;
  font-weight: normal !important;
  /* override css/custom-theme/jquery-ui.css */
  font-style: italic; }

.ui-menu .ui-menu-item {
  /* override css/custom-theme/jquery-ui.css */
  font-weight: normal; }

.ui-state-active,
.ui-widget-content .ui-state-active {
  border: 1px solid #b7d8d6;
  background: #b7d8d6;
  color: black; }

#formalities {
  font-style: italic; }

#content {
  margin: 2em auto;
  overflow: hidden;
  max-width: 800px;
  min-height: 220px;
  background: #FFF; }
  #content dt {
    font-weight: bold;
    margin-bottom: 0.2em; }
  #content dd {
    margin-bottom: 1em; }
  #content hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    margin-bottom: 10px; }
  #content p:nth-child(2) {
    margin-top: 0;
    padding-top: 0; }
  #content h1 a, #content h2 a, #content h3 a, #content h4 a, #content h5 a, #content h6 a {
    color: black; }
  #content h1 {
    padding-top: 0.25em; }

#content:not(.content_HomePage):not(.content_404) {
  background-repeat: no-repeat;
  background-position: right 2rem top 2rem;
  background-size: 243px;
  background-image: url(/images/Camelia-faded.svg); }

.title-anchor {
  visibility: hidden;
  color: #333;
  font-size: 60%;
  margin-left: 10px;
  display: inline-block;
  text-decoration: none;
  vertical-align: 0.5ex;
  outline: none; }

h1:hover .title-anchor, h2:hover .title-anchor, h3:hover .title-anchor, h4:hover .title-anchor, h5:hover .title-anchor, h6:hover .title-anchor {
  visibility: visible; }

#TOC_Title {
  font-size: 120%;
  white-space: nowrap; }
  #TOC_Title a {
    font-weight: normal;
    font-size: 90%;
    outline: 0; }

table#TOC {
  border-collapse: collapse;
  margin: 0 0 0 12pt; }
  table#TOC caption {
    text-align: left; }
  table#TOC tr {
    background-color: transparent; }
  table#TOC td {
    padding: 0.25pt 5pt 0 0;
    font-size: 11pt; }
  table#TOC tr.toc-level-1:first-child td {
    padding-top: 0; }
  table#TOC td.toc-text {
    position: relative;
    left: 6pt; }
  table#TOC tr.toc-level-1 td {
    padding-top: 4pt;
    font-weight: bold; }
  table#TOC tr.toc-level-1 td.toc-text {
    position: relative;
    left: 0; }
  table#TOC tr.toc-level-2 td {
    padding-top: 3pt; }
  table#TOC tr.toc-level-3 td {
    padding-top: 2pt;
    font-size: 0.9em; }
  table#TOC tr.toc-level-3 td.toc-text {
    padding-left: 12px; }
  table#TOC tr.toc-level-4 td {
    padding-top: 2pt;
    font-size: 0.8em; }
  table#TOC tr.toc-level-4 td.toc-text {
    padding-left: 16px; }
  table#TOC td.toc-number {
    display: none; }
  table#TOC code {
    color: black; }

div.highlight span.c-Singleline, div.highlight span.c {
  color: #204040; }

footer.pretty-box {
  padding: 5px;
  text-align: center;
  font-size: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #789e9e;
  border-top: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
  footer.pretty-box p {
    margin: 3px 0; }

@media (min-width: 65em) {
  #content {
    max-width: none;
    min-width: 65em;
    width: 65em;
    display: table;
    background-image: none; }
  div.pod-body {
    min-width: 45em;
    max-width: 45em;
    margin-left: 24em; }
  div.pod-body.no-toc {
    margin-left: 0em;
    max-width: none; }
  nav.indexgroup {
    float: left;
    margin-top: -15px; }
  table#TOC {
    max-width: 20em; }
    table#TOC a {
      color: black; } }

@media (min-width: 80em) {
  #content {
    max-width: none;
    min-width: 80em;
    width: 80em; }
  div.pod-body {
    min-width: 60em;
    max-width: 60em; } }

@media (max-width: 560px) {
  #home_logo {
    display: none; }
  body {
    padding: 0; }
  table#TOC tr[class^=toc-level] td {
    padding: 8px 0; }
  table#TOC tr.toc-level-1 td {
    padding-top: 18px; } }

@media (max-width: 370px) {
  #query {
    width: 75%;
    margin: 0 auto; }
  #camelia {
    float: left;
    margin-left: 20px; }
  header > div#logo > div#navToggle > a {
    background: #789e9e; } }

a[href*="://"]:not([href*="raku.org"])::after,
[href="https://raku.org"]::after,
[href="/webchat.html"]::after,
[href="/examples.html"]::after {
  padding-left: 2px;
  content: url(/images/External-link-04-bold-12x12.svg); }

.pencil {
  background: linear-gradient(to bottom, #fff 0%, #ededed 100%);
  border: 1px solid #CCC;
  color: #777;
  cursor: pointer;
  overflow: visible;
  border-radius: 4px;
  padding: 4px; }

.pod-table th {
  text-align: left; }

.pod-table [class*="headerSort"] {
  padding-left: 20px;
  background: transparent no-repeat 5px/10px; }

.pod-table .headerSortDown {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 490.659 490.659" style="enable-background:new 0 0 490.659 490.659;" xml:space="preserve"><path d="M489.272,37.339c-1.92-3.307-5.44-5.333-9.259-5.333H10.68c-3.819,0-7.339,2.027-9.259,5.333 c-1.899,3.307-1.899,7.36,0.021,10.667l234.667,405.333c1.899,3.307,5.419,5.333,9.237,5.333s7.339-2.027,9.237-5.333 L489.251,48.005C491.149,44.72,491.149,40.645,489.272,37.339z"/></svg>'); }

.pod-table .headerSortUp {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 490.659 490.659" style="enable-background:new 0 0 490.659 490.659;" xml:space="preserve"><path d="M489.229,442.468L254.563,37.135c-3.797-6.592-14.677-6.592-18.453,0L1.443,442.468c-1.92,3.307-1.92,7.36-0.021,10.667 c1.92,3.307,5.44,5.333,9.259,5.333h469.333c3.819,0,7.339-2.027,9.259-5.333C491.128,449.849,491.128,445.775,489.229,442.468z"/></svg>'); }

.fallback {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%; }

/*# sourceMappingURL=../310eba52b8/style.css.map */